/* 基本樣式設置 */
body {
    font-family: Arial, sans-serif;
    background-image: url('page3.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.question, .result, .start-button {
    display: none;
}

.question.active, .result.active, .start-button.active {
    display: block;
}

.question p {
    margin: 20px 0;
}

.question label {
    display: block;
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    margin: 10px;
}

.result img {
    max-width: 100%; /* 圖片最大寬度設為容器的100% */
    height: auto; /* 根據圖片的寬度自動調整高度，保持比例 */
    display: block; /* 確保圖片是塊級元素，避免圖片旁有空隙 */
    margin: 0 auto 20px; /* 居中顯示圖片，並增加下方空間 */
}

.signup-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.signup-button:hover {
    background-color: #007B9A;
}
