/* 基本樣式設置 */
body {
    font-family: Arial, sans-serif;
    background-image: url('page3.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.question, .result, .start-button {
    display: none;
}

.question.active, .result.active, .start-button.active {
    display: block;
}

.question p {
    margin: 20px 0;
}

.question label {
    display: block;
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50; /* 将按钮背景颜色设置为绿色 */
    color: white; /* 按钮文字颜色为白色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #45a049; /* 鼠标悬停时按钮颜色为更深的绿色 */
}

.result img {
    max-width: 80%; /* 图片最大宽度设为容器的100% */
    height: auto; /* 根据图片的宽度自动调整高度，保持比例 */
    display: block; /* 确保图片是块级元素，避免图片旁有空隙 */
    margin: 0 auto 20px; /* 居中显示图片，并增加下方空间 */
}

.signup-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* 将报名按钮背景颜色设置为绿色 */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.signup-button:hover {
    background-color: #45a049; /* 鼠标悬停时按钮颜色为更深的绿色 */
}
